<div id="<%= dom_id notebook %>">
  <p>
    <strong>Marca:</strong>
    <%= notebook.marca %>
  </p>

  <p>
    <strong>Preço: R$ </strong>
    <%= notebook.preco %>
  </p>

  <p>
    <strong>Sistema Operacional:</strong>
    <%= notebook.sistema_operacional %>
  </p>

  <p>
    <strong>Armanezamento:</strong>
    <%= notebook.armanezamento %>
    <a>GB</a>
  </p>

  <p>
    <strong>Memória:</strong>
    <%= notebook.memoria %>
    <a>GB</a>
  </p>

  <p>
    <strong>Processador:</strong>
    <%= notebook.processador %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= notebook.descricao %>
  </p>

</div>
