<div id="<%= dom_id notebook %>">
  <p>
    <strong>Marca:</strong>
    <%= notebook.marca %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= notebook.preco %>
  </p>

  <p>
    <strong>Sistema operacional:</strong>
    <%= notebook.sistema_operacional %>
  </p>

  <p>
    <strong>Armanezamento:</strong>
    <%= notebook.armanezamento %>
  </p>

  <p>
    <strong>Memoria:</strong>
    <%= notebook.memoria %>
  </p>

  <p>
    <strong>Processador:</strong>
    <%= notebook.processador %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= notebook.descricao %>
  </p>

</div>
